/* Reset some default styling */
* {
    box-sizing: border-box;
    color: rgba(18, 18, 18, 0.598);
    
    margin:5px;
    padding: 1px;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Main login box */
  .login-container {
    background-color: #04040461;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(46, 68, 234, 0.84);
    width: 360px;
    text-align: center;
  }
  
  /* Heading */
  .login-container h2 {
    margin-bottom: 25px;
    color: #ffffff;
  }
  
  /* Form fields */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-size: 14px;
  }
  
  /* Login button */
  .login-button {
    width: 100%;
    padding: 12px;
    background-color: #3b53ed;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-style: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #053c7b;
  }
  
  /* Footer */
  .footer {
    margin-top: 20px;
    font-size: 15px;
    color: #efeded;
  }
  
  .footer a {
    color: #300aeb;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  